* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: monospace;
    background-color: #000000;
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-width: 200px;  /*THIS IS THE KEY to stops shrinking at 260px */
}
#main {
    width: 100%;
    max-width: clamp(400px, 5vw, 500px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#clock {
    background-color: #151515;
    border: 5px solid rgb(54, 54, 54);
    border-radius: 40px;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.heading{
    color: white;
    font-size: clamp(30px, 2.5vw, 36px);
    font-weight: bold;
}
#time1 ,#time2{
    display:flex;
    justify-content: center;
    font-size: clamp(35px, 4vh, 40px);
    font-weight: bold;
    color: black;
    background-color:#292929;
    color: white;
    padding: 5px;
    border-radius: 100px;
}
#hr12,#start,#reset {
    background-color: white;
    border: 2px solid;
    font-weight: bold;
    padding: 10px 20px;
    font-family: monospace;
    font-size: clamp(20px, 2.5vw, 22px);
    cursor: pointer;
    border-radius: 100px;
    border-color: yellow;
    background-color: #0f0f0f;
    color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
#hr12:hover,#start:hover,#reset:hover {
    background-color: yellow;
    color: #0f0f0f;
    transform: scale(1.05);
}
#hr12:active,#start:active,#reset:active {
    transform: scale(0.95);
}




#main2 {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    border: 5px solid rgb(54, 54, 54);
    border-radius: 40px;
    padding: 10px;
    width: 100%;
}
#stopwatch {
    background-color: #151515;
    border: 5px solid rgb(54, 54, 54);
    border-radius: 40px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

@media (max-width: 318px){
    #time1,#time2{
        font-size: clamp(20px, 4vh, 23px);
    }
    .heading{
        font-size: clamp(20px, 2.5vw, 25px);
    }
}